.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.table {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-top: 1px solid #c1c1c15a;
  border-left: 1px solid #c1c1c15a;
  border-right: 1px solid #c1c1c15a;
}
.fullWidth {
  width: 100px;
}


